<h1> Hello there!</h1>

<form method="POST" action="/">

  <div>
  <label>What's your name?:</label>
  <input type="text" name="name" />
  </div>
  <label>When is your birthday?</label>

  <input type="date" min=<%= Date.today %> name="birthday_date" />
  <input type="submit" />
</form>