<h1> Hello there!</h1>

<form method="POST" action="/">

  <div>
  <label>What's your name?:</label>
  <input type="text" name="message" />
  </div>
  <label>When is your birthday?</label>

  <input type="date" min=<%= Date.today %>/>
</form>